<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
  <main class="main">
    <h1>Me, Myself and I</h1>
    <hr>
    <p>Hello,</p>
    <br>
    <p>My name is Adrien DUMONT. I am a french High-School student passionate with the world of sciences and especially new technology.</p>
    <p>My everyday pleasure is find solutions to complex problems by using innovative thinking and ideas.</p>
    <p>This is the reason why I've learned to program in many coding languages in order to have a large range of knowledge.</p>

  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>