<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smart Tech: enterprise specialized in the selling of Artificial Intelligence Algorithms">
    <meta name="keywords" content="Intelligence, AI, Machine Learning, Programming">
    <meta name="author" content="John Doe">
    <title>Smart Tech - Artificial Intelligence</title>

    <link rel="stylesheet" href="style.css">
    <script src="home.js" defer></script>
</head>
<body>
        <h2 id="ip" style="display: none;"><%= info.ip %></h2>
        <h2 id="lattitude" style="display: none;"><%= info.ll[0] %></h2>
        <h2 id="longitude" style="display: none;"><%= info.ll[1] %></h2>

    <div class="container">
        <div class="text"></div>
      </div>

</body>
</html>