<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <main class="main">
    <h1>AstroTech - The future of Space Exploration</h1>
    <hr>
    <div class="card text-center bg-dark text-light">
      
      <img src="/images/space.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Scientific Article - Adrien DUMONT</h5>
        <hr>
        <p class="card-text my-2">Space exploration and astronomy has been a fascination since my childhood for me. This is why, in this article we will see what I personally think is the future if Space Exploration. Are we going to conquer Mars ? Colonize the Moon ? These are the questions that we will be answering here.</p>
        <hr>
        <a href="#" class="btn btn-outline-info">Read Article</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>