<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
  <main class="main">
    <h1>AstroTech - The future of Space Exploration</h1>
    <hr>
    <div class="card text-center bg-dark text-light">

      <img src="/images/space.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Scientific Article - Adrien DUMONT</h5>
        <hr>
        <p class="card-text my-2">Space exploration and astronomy has been a fascination since my childhood for me. This
          is why, in this article we will see what I personally think is the future if Space Exploration. Are we going
          to conquer Mars ? Colonize the Moon ? These are the questions that we will be answering here.</p>
        <hr>
        <a href="/app/articles/the-future-of-space-exploration" class="btn btn-outline-info" target="_blank">Read Article <i
            class="far fa-newspaper"></i></a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    <h3>Featured Projects - 2021</h3>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-dark text-light card1">
          <div class="card-body">
            <h5 class="card-title">ThedispardCoin - First Blockchain Algorithm</h5>
            <hr>
            <p class="card-text">These past few years (and even months) the world of cryptocurrencies as been exploding at a very impressive rate with famous project such as BitCoin or Ethereum. Understanding the blockchain technology becomes therefore essential.</p>
            <br>
            <p>This is why I decided to create a local cryptocurrency called the Thedispard (Théo+Adrien+Gaspard) Coin with two of my friends.</p>
            <hr>
            <a href="https://replit.com/@runtimerror/Thedispardcoin-Beta" class="btn btn-danger mr-4 mb-2" target="_blank">Live Demo <i class="fas fa-satellite"></i></a>
            <a href="https://github.com/science-math-guy/Thedispardcoin---Beta" class="btn btn-outline-warning mb-2" target="_blank">GitHub Repo <i class="fab fa-github"></i></a>
            <img src="/images/crypto.png" class="card-img-top image-ai" alt="...">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">AITech - AI in your browser</h5>
            <hr>
            <p class="card-text">The world of Artificial Intelligence has been exploding these recent years. However, one downside that is usually pointed out is the calculus power needed in order to run a simple neural network algorithm.</p>
            <br>
            <p> This is why integrating AI algorithms directly into the browser has been a big challenge these past few years.</p>
            <hr>
            <a href="https://ai-tech.herokuapp.com/" class="btn btn-danger mr-4 mb-2" target="_blank">Live Demo <i class="fas fa-satellite"></i></a>
            <a href="https://github.com/science-math-guy/face-recognition-app" class="btn btn-outline-warning mb-2" target="_blank">GitHub Repo <i class="fab fa-github"></i></a>
            <img src="/images/ai.jpeg" class="card-img-top image-ai" alt="...">
          </div>
        </div>
      </div>
    </div>
    <h3>Contact</h3>
    <hr>
    <div class="card text-white bg-dark text-center">
      <div class="card-header">
        <h2>Contact - Adrien Dumont</h2>
      </div>
      <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a type="button" target="_blank" href="https://instagram.com/adrydmt" class="btn btn-outline-danger">Instagram</a>
          <a type="button" target="_blank" href="mailto:adumont@mailbox.org" class="btn btn-outline-primary">Email</a>
          <a type="button" target="_blank" href="https://github.com/science-math-guy" class="btn btn-outline-warning">GitHub</a>
          <a type="button" target="_blank" href="https://www.linkedin.com/in/adrien-dumont-051304207/" class="btn btn-outline-info">Linkedin</a>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>