<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
  <main class="main">
    <h1>AstroTech - The future of Space Exploration</h1>
    <hr>
    <div class="card text-center bg-dark text-light">

      <img src="/images/space.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Scientific Article - Adrien DUMONT</h5>
        <hr>
        <p class="card-text my-2">Space exploration and astronomy has been a fascination since my childhood for me. This
          is why, in this article we will see what I personally think is the future if Space Exploration. Are we going
          to conquer Mars ? Colonize the Moon ? These are the questions that we will be answering here.</p>
        <hr>
        <a href="#" class="btn btn-outline-info">Read Article <i class="far fa-newspaper"></i></a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    <h3>Featured Projects</h3>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <hr>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec aliquam lectus. Vestibulum nec ultricies dui. Cras a rhoncus neque. Sed vestibulum gravida congue. Integer dapibus placerat justo ac rhoncus. Phasellus tempor ut nulla nec facilisis. Cras in enim arcu. Phasellus dignissim nisi ut augue pharetra tempus. </p>
            <hr>
            <a href="#" class="btn btn-danger mr-4">Live Demo <i class="fas fa-satellite"></i></a>
            <a href="#" class="btn btn-outline-warning">GitHub Repo <i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <hr>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec aliquam lectus. Vestibulum nec ultricies dui. Cras a rhoncus neque. Sed vestibulum gravida congue. Integer dapibus placerat justo ac rhoncus. Phasellus tempor ut nulla nec facilisis. Cras in enim arcu. Phasellus dignissim nisi ut augue pharetra tempus. </p>
            <hr>
            <a href="#" class="btn btn-danger mr-4">Live Demo <i class="fas fa-satellite"></i></a>
            <a href="#" class="btn btn-outline-warning">GitHub Repo <i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>