<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
  <main class="main">
    <h1>AstroTech - The future of Space Exploration</h1>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>